
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  
}


.imgfondologin img{
    position: absolute;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.; /*transparencia de la img*/
    z-index: -1;
    animation: animateBg 10s linear infinite;    /* fondo tripiante kkkkk*/
}

@keyframes animateBg{       /* borrar si molesta ,este keyframe y solo el animation de arriba  */
    100% {
        filter: hue-rotate(360deg);
    }
}




.login-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;   /* transparente o no? */
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);   /*  blur para la caja de login */
    margin-top: 100px; /* Modifica este valor para subir la caja */

}


.login-box h2{
    font-size: 2em;
    color: white;
    text-align: center;
}

.input-box{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;      /* mueve hacia arriba label correo y contraseña al cliquear input */
}

.input-box input:focus~label,  /* mueve hacia arriba label correo y contraseña al cliquear input */
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 50px;
    background:transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px; /* no choca caracter con icono, padding pequeño entre caracter e icono*/
}

.input-box .icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 55px;
}


.recordar-reset{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.recordar-reset label input{
    margin-right: 3px;
}

.recordar-reset a{
    color: #fff;
    text-decoration: none;
}

.recordar-reset a:hover{
    text-decoration: underline;
}



.btn-ingresar{
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;

}
.registrarse{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.registrarse p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.registrarse p a:hover{
    text-decoration: underline;
}

.textoReset{
    width: 80%;
    text-align: center;
}




@media (max-width: 360px){
    .login-box {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
        backdrop-filter: blur(10px);
    }

    
    .input-box{
        width: 290px;
    }
}


