@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    line-height: 1.5;
}
.card-contenedor{
    max-width: 100vh;  
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
    
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 3rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.Marca-prod{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #e0eb46;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.Marca-prod:hover{
    opacity: 0.9;
}

.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.precio-prod-cont{
    margin: 1rem 0;
    font-size: 25px;
    font-weight: 700;
}
.precio-prod-cont span{
    font-weight: 900;
    font-size: 20px;
    margin-left: 20px;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.precio span{
    color: #aac319;
}
.detalles-prod h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.detalles-prod p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.detalles-prod ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.detalles-prod li{
    margin: 0;
    list-style: none;
    background: url(/IMG/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.detalles-prod ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

.product-imgs{
    width:100%;
}

.btn-añadir:hover {
	color: #1bbeb4;
}
@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-contenedor{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}




/*   */  



.container-comprar-refac {
	display: flex;
	gap: 20px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e4e4e4;
}

.container-cantidad {
	position: relative;
}

.input-cantidad {
	background-color: #f7f7f7;
	border: none;
	padding: 10px;
	width: 60px;
	height: 100%;
	color: #666;
	font-weight: 500;
	line-height: 0;
}

.input-cantidad:focus {
	outline: none;
}

.input-cantidad::-webkit-inner-spin-button,
.input-cantidad::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
}

.btn-incrementar-reducir {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 7px;
	right: 7px;
}

.btn-incrementar-reducir i {
	font-size: 11px;
	color: #666;
	cursor: pointer;
}

.fa-chevron-down:hover {
	color: #1bbeb4;
}

.fa-chevron-up:hover {
	color: #1bbeb4;
}

.btn-añadir {
	border: none;
	background-color: #359ce0;
	padding: 10px;
	color: #f7f7f7;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	font-weight: 700;
	cursor: pointer;
}

.btn-añadir:hover {
	color: #1bbeb4;
}









/*   desde aqui el display de tiulo descripcion en seccion HIDDEN vistas productos autos y repuestos */
.hidden {
    display: none;
}

.container-descripcion,
.container-info-adicional{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 0;

}


.titulo-descripcion,
.titulo-info-adicional{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}


.titulo-descripcion h4,
.titulo-info-adicional h4{
    font-weight: 300;
    font-size: 14px;
    color: #666;
}

.texto-descripcion,
.texto-info-adicional{
    font-size: 14px;
    color: #252525;
    line-height: 22px;
    margin-top: 25px;
}

.container-social{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
}

.container-social span{
    font-weight: 400;
    color: #252552;
}

.container-buttons-social {
    display: flex;
    gap: 15px;
    align-items: center;
}


.container-buttons-social a:link,
.container-buttons-social a:visited{
    color: #666;
    font-size: 15px;   
}

.container-buttons-social a:hover{
    color: #1bbeb4;
}
/***************************************************************************/


.contenedor-card-lista{
    width: 100%;
    height: 80px;
    justify-content: space-between;
    margin: 0 auto;
}

.lista-card1{
    align-content: center;
    padding-left: 120px;

}

.product-content .lista-card1 {
    display: grid;  
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
    margin-bottom: 15px;
    margin-top: 15px;

}

.product-content .lista-card-item1 {
    display: flex;
    align-items: center;
    gap: 8px;
}

.product-content .lista-card-item1 ion-icon {
    font-size: 20px;
    color: blue;
    --ionicon-stroke-width: 38px;
}


.product-content .lista-card-texto1 {
    color: var(--independence);
    font-weight: 200;
    font-size: var(--fs-6);
}
    

@media screen and (max-width: 992px){
    .lista-card1{
        align-content: center;
        margin: -100px;
        justify-content: space-between;
    
    }
}





/* PRODUCTOS RELACIONADOS */

.card-container-rela {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    
  }
  
  .card-recomendados{
    height: 100%;
    flex: 0 0 calc(25% - 20px);
    margin-bottom: 20px;
    background-color: transparent;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid lightblue;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .card-recomendados:hover {
    transform: translateY(-8px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 5px;
  }
  
  .imagencard{
    max-width: 400px ; /* Establece el tamaño máximo deseado para el contenedor */
    height: 200px; /* Mantén la altura proporcional a la imagen original */
    background-size: cover;
    object-fit: cover;
  }

  .card-image {
    width: 100%; /* Ocupa el 100% del tamaño máximo del contenedor */
    height: 100%; /* Ocupa el 100% del tamaño máximo del contenedor */
     
  }

  .card-tituloreco {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card-descripcion {
    margin-bottom: 10px;
  }
  
  .cards-boton {
    background-color: #ffffff;
    color: black;
    border-radius: 5px ;
    border-style: 1px solid;
    border-color: aqua;
    width: 70%;
    padding: 10px 20px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .cards-boton:hover{
    background-color: rgb(140, 232, 239);
  }

  .iconoion{
    transition: transform 0.3s ease; 
  }

  .iconoion:hover{
    transform: translatex(-3px);
  }

  .valorprecio{
    font-size: 20px;
    font-weight: 400;
  }
  .valorprecio strong{
    color:blueviolet    ;
  }



  @media screen and (max-width: 1200px) {
    .card-recomendados{
      flex: 0 0 calc(33.33% - 20px);
    }
  }
  
  @media screen and (max-width: 768px) {
    .card-recomendados{
      flex: 0 0 calc(50% - 20px);
    }
  }
  
  @media screen and (max-width: 480px) {
    .card-recomendados{
      flex: 0 0 calc(100% - 20px);
    }
  }

  


/*  <div class="cartel-precio">
                    <span class="p-precio">Valor: $400.000</span>
                    <a href="#" class="btn-verdetalle"> Ver detalle </a>
                </div>*/

.header-mas{
    text-align: center;
    background-image:linear-gradient(175deg, #EEE 50%, #FF9FDB 50%, #9B75D7);
    width: 100%;
    height: 150px;
    margin: 0 auto;
    padding-top: 22px;
}

.header-mas span{
    font-weight: 500;
    color: rgb(208, 40, 40);
}

.header-mas p{
    font-size: 0.9rem;
    font-weight: 300;
}










/* migas de pan? breadcrumb FALTA HACDER */ 











/*  DIV DE FORMULARIO DE CONTACTO ACA */

.container-formu-agendar{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    max-width:1200;
    padding: 0 80px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container-formu-agendar .content{    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-formu-agendar .content .lado-izq{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: relative;
}

.content .lado-izq::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content .lado-izq img{
    width: 100%;
}

.formu{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-formu-agendar .content .lado-der{
    width: 75%;
    margin-left: 75px;
}
.content .lado-der .texto-cabecera{
    font-size: 23px;
    font-weight: 600;
    color: #3e2093;
    margin: 10px 0 ;
}


.lado-der .input-box{
    height: 50px;
    width: 90%;
    margin: 12px 0;
}
.lado-der .input-box input,
.lado-der .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}
.lado-der .mensaje{
    min-height: 110px;
    margin-top: 5px;
    
}


.lado-der .input-boxgordo{
    height: 60px;
    width: 100%;
    margin: 12px 0;
} 

.lado-der .input-boxgordo textarea{
    padding-top: 12px;
}

.lado-der .input-boxgordo input,
.lado-der .input-boxgordo textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}
.lado-der .button{
    display: inline-block;
    margin: 12px 235px;
    padding-bottom:100px ;
}
.lado-der .button input[type="button"]{
    color: #fff;
    font-size: 20px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #3e2093;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button input[type="button"]:hover{
    background: #5029bc;
}

@media (max-width: 950px) {
    .container-formu-agendar{
    width: 90%;
    padding: 30px 40px 40px 35px ;
    }
    .container-formu-agendar .content .lado-der{
    width: 75%;
    margin-left: 55px;
}
}
@media (max-width: 820px) {
    .container-formu-agendar{
    margin: 40px 0;
    height: 100%;
    }
    .container-formu-agendar .content{
    flex-direction: column-reverse;
    }
    .container-formu-agendar .content .lado-izq{
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
    }
    .container-formu-agendar .content .lado-izq::before{
    display: none;
    }
    .container-formu-agendar .content .lado-der{
    width: 100%;
    margin-left: 0;
    }
}

/************************************  **********************************************/




.volver{
    text-align: center;
    background-image:linear-gradient(175deg, #EEE 50%, #cccfbb 50%, #fcfffc);
    width: 100%;
    height: 150px;
    margin: 20px auto;
    padding-top: 22px;
}


.volver input[type="button"]{
    color: #fff;
    font-size: 20px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #39b7da;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 300px;
    margin-top: 28px;
}
.volver input[type="button"]:hover{
    background: #158792;
}
/*   background-image:linear-gradient(175deg, #EEE 50%, #FF9FDB 50%, #9B75D7) */