<footer>
    <div class="footer-contenido">
      <h3>Autoportal Venta de Automoviles y Repuestos</h3>
      <ul class="redes-sociales">
        <li><i class="fa-brands fa-twitter"></i></li>
        <li><i class="fa-brands fa-facebook-messenger"></i></li>
        <li><i class="fa-brands fa-whatsapp"></i></li>
        <li><i class="fa-solid fa-envelope"></i></li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p>copyright &copy;2023 AutoPortal. Diseñado por Jorge Vergara & Matias Inayao</p>
    </div>
  </footer>

  <a class="whats-app " href="https://api.whatsapp.com/send?phone=1232&text=https://www.mipagina.com/ %0D%0A%0D%0AHola necesito información de: " target="_blank " title="Estamos disponibles. Cuéntanos en qué te podemos ayudar!!! ">
  <i class="fab fa-whatsapp my-float"></i>

